body, h1{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
}

.text-container h1{
    font-size: 150px;
    color: rgba(255,255,255, .1);
    background-image: url(./images.jfif);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
}

.text-container{
    margin-top: 17%;
    text-align: center;
}

@keyframes animate {
    0% {
        background-position: left 0px top 10px;
    }

    100% {
        background-position: left 800px top 10px;
    }
}